# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg-info/
.eggs/

# SQLite
*.db
*.sqlite3

# Virtual environment
venv/
env/
ENV/
.venv/

# Flask
instance/
.env

# PyCharm
.idea/

# VSCode
.vscode/

# MacOS/Linux/Windows
.DS_Store
Thumbs.db

# Alembic migration cache
migrations/__pycache__/
migrations/versions/__pycache__/
