# Arquivos de sistema
.DS_Store          # macOS
Thumbs.db          # Windows

# Arquivos de IDE/Editor
.vscode/           # Visual Studio Code
.idea/             # JetBrains IDEs (PyCharm, WebStorm, etc.)
*.iml              # JetBrains project files

# Ambiente virtual
venv/              # Diretório do ambiente virtual Python
env/               # Outro nome comum para ambientes virtuais

# Arquivos de configuração do Python
*.pyc              # Arquivos compilados do Python
*.pyo              # Arquivos de otimização do Python
__pycache__/       # Diretório de arquivos compilados do Python

# Arquivos de dependências
*.env              # Arquivos de ambiente
*.sqlite           # Banco de dados SQLite (caso esteja utilizando)
instance/          # Configurações de instância do Flask

# Logs
*.log              # Arquivos de log
*.log.*            # Arquivos de log rotacionados

# Arquivos temporários do editor de texto
*~                 # Arquivos temporários do vim
*.swp              # Arquivos temporários do vim
*.swo              # Arquivos temporários do vim
