<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes do Evento</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <div class="container">
        <h1>Detalhes do Evento: {{ evento.nome }}</h1>
        <p><strong>Descrição:</strong> {{ evento.descricao }}</p>
        <p><strong>Data do Evento:</strong> {{ evento.data_evento }}</p>

        <a href="{{ url_for('home') }}" class="btn btn-primary">Voltar para a lista de eventos</a>
    </div>

</body>
</html>
