<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuários Cadastrados</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Usuários Cadastrados</h1>

        <!-- Exibir uma tabela com os usuários -->
        <table class="table mt-4">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Email</th>
                    <th scope="col">Telefone</th>
                    <th scope="col">Evento Associado</th>
                </tr>
            </thead>
            <tbody>
                {% for usuario in usuarios %}
                    <tr>
                        <td>{{ usuario.id }}</td>
                        <td>{{ usuario.nome }}</td>
                        <td>{{ usuario.email }}</td>
                        <td>{{ usuario.telefone }}</td>
                        <td>{{ usuario.evento_id if usuario.evento_id else 'Nenhum' }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <a href="{{ url_for('home') }}" class="btn btn-primary mt-3">Voltar para a Home</a>
    </div>
</body>
</html>
